.homepage {
    height: 100vh;

    .header {
        padding-bottom: 16px;
    }

    .body {
        display: flex;

        .side-nav-bar {
            width: 300px;
            padding: 16px;
            background-color: #a1a1a1;
        }

        .content {
            padding: 8px 64px 8px 16px;
            display: flex;
            flex: auto;
            flex-direction: column;
        }
    }
}