.icon-item {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    
    .title {
        text-decoration: none;
        color: black;
        margin: 6px 0px 2px 4px;
        padding-left: 8px;
    }
}