.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
        margin-bottom: 0px;
        font-size: 1.8em;
        color: #6b6969;
    }

    .title {
        font-size: 1.2em;
        color: #8f8f8f
    }
}