.event-item {
    margin: 0px;
    margin-bottom: 16px;

    .event-title {
        font-size: 0.9em;
        margin: 0px 0px 4px 0px;
    }

    .event-subtitle {
        font-weight: 500;
        opacity: 0.8;
        font-size: 1em;
        margin: 0px;
    }
}